html {
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #222;
  background-color: #eee;
}

body {
  margin: 0px;
}

section {
  max-width: calc(800px - 2 * 1em);
  margin: 0em auto 1em auto;
  padding: 1em;
  text-align: left;
}

a {
    color: #000;
}

/*******************************************************************************
 * Calendar header */
header .cal {
  font-size: 20px;
  line-height: 120%;
  text-align: left;
  border: 2px solid #222;
  padding: 0em 1em;
}

header .screen {
  margin: 3em auto 3em auto;
  display: inline-block;
  padding: 1em;
  border-radius: 1em;
  border: 2px solid #222;
}

header .cal .zh {
  color: #fff;
  background-color: #000;
}
