html {
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #222;
  background-color: #f4f3ec;
}

body {
  margin: 0px;
}

section {
  max-width: calc(800px - 2 * 1em);
  margin: 0em auto 1em auto;
  padding: 1em;
  text-align: left;
}

a {
  color: #000;
}

h1 {
  margin-top: 3em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

h2 {
  margin-top: 2em;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/*******************************************************************************
 * Calendar header */

header img {
  margin-top: 1em;
  max-width: min(100%, 800px);
  opacity: 0.85;
}


/*******************************************************************************
 * Schedule */

.schedule {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 1em 0;
}

.schedule .day .morning {
  display: none;
}

@media (min-width: 768px) {
  .schedule {
    flex-direction: row;
  }

  .schedule .day {
    flex-basis: 0;
    margin: 0em 0.5em !important;
  }

  .schedule .day .morning {
    display: block !important;
  }
}

.schedule .day {
  flex-grow: 1;
  margin: 0.5em 0em;
}

.schedule .day .date {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: .5em 0em;
}

.schedule .day .entries .entry {
  font-size: 70%;
  font-weight: bold;
  line-height: 100%;
  text-decoration: none;
}

.schedule .day .entries .entry .time, .schedule .day .entries .entry .title {
  display: block;
  margin: 0.5em;
}

.schedule * .talk   { background-color: #ccc }
.schedule * .advanced { background-color: #ccc }
.schedule * .beginner { background-color: #ccc }
.schedule * .admin  { background-color: #ccc }
.schedule * .food   { background-color: #ccc }

/*******************************************************************************
 * Partners */

.partners img {
  margin: 18px;
  max-height: 72px;
  max-width: 240px;
  vertical-align: middle;
}

.partners section {
  margin-top: 1em;
}

.partners h2:before{
  content: none;
}

/*******************************************************************************
 * Speakers */

.speakers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.speaker {
  text-align: left;
  margin: 1em;
  width: calc(100% - 24px);
  position: relative;
}

@media (min-width: 800px) {
  .speakers {
    flex-direction: row;
  }
  .speaker {
    width: 450px;
  }
}

.speaker .header {
  display: flex;
  flex-direction: row;
}

.speaker details {
  margin: 1em;
}

.speaker .topic {
  border-left: 2px solid #0108;
  padding-left: 0.2em;
}

.speaker .avatar {
  height: 60px;
  clip-path: circle();
  border: 3px solid black;
  border-radius: 100%;
}

.speaker .namelinks {
  padding: .3em 1em 0 1em;
}

.speaker .name {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: bold;
}

.speaker .links {
  display: flex;
  flex-direction: row;
}

.speaker .links a {
  background-size: contain;
  height: 24px;
  margin-right: 6px;
  width: 24px;
  opacity: 0.7;
}

.speaker .title {
  font-style: italic;
}

.speaker p {
  margin: 1em 0em;
}

.speaker .links a {
  background-size: 24px 24px !important;
}

.speaker .links .github   { background: url("/images/icons/github.svg")   }
.speaker .links .mastodon { background: url("/images/icons/mastodon.svg") }
.speaker .links .twitter  { background: url("/images/icons/twitter.svg")  }
.speaker .links .web      { background: url("/images/icons/globe.svg")    }
.speaker .links .youtube  { background: url("/images/icons/youtube.svg")  }
