html {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

a {
  color: white;
}

body {
  margin: 0px;
  background: linear-gradient(-45deg, #0A5159, #16808C, #21A6A6, #3BBFB2);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 1em;
  display: block;
  width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
