:root {
    --paper-color: #f4f3ec;
}

html {
  text-align: center;
  background-color: var(--paper-color);
}

header img {
  margin-top: 5vh;
  opacity: 0.8;
  width: 100vw;
  max-width: 90vw;
  max-height: 90vh;
}
