/*******************************************************************************
 * Global things */

html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  text-align: center;
  background: #ffffff;
}

body {
  margin: 0px;
}

/*******************************************************************************
 * Sticky header */

div.header-wide {
  position: fixed;
  top: 0px; left: 0px; right: 0px;
  background: white;
  border-bottom: 6px solid #258bcd;
  padding: 12px;
}

header {
  font-variant: small-caps;
  max-width: 768px;
  text-align: left;
  margin: 0px auto 0px auto;
}

header a.logo {
  display: inline;
  color: #258bcd;
  text-decoration: none;
  font-size: 24px;
}

.toggle-nav {
  float: right;
  margin-top: 6px;
}

.toggle-nav div {
  border-bottom: 2px solid black;
  margin-bottom: 6px;
  width: 30px;
}

/*******************************************************************************
 * Open nav, mobile */
nav:target {
  display: block;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline;
  padding: 0px;
  margin: 0px;
}

nav:target ul {
  position: fixed;
  right: 0px; top: 0px; bottom: 0px;
  width: 224px;  /* width + padding * 2 */
  z-index: 10;
  background: #333333;
}

nav:target a {
  border-bottom: 1px solid #888888;
  display: block;
  width: 200px;
  font-size: 16px;
  padding: 12px;
  color: #dddddd;
  text-decoration: none;
}

nav:target a.x {
  font-weight: bold;
  color: #ffffff;
  text-align: right;
}

nav:target a.shadow {
  background: #000000;
  position: fixed;
  top: 0px; right: 0px; bottom: 0px; left: 0px;
  width: auto;
  z-index: 9;
  opacity: 0.4;
}

/*******************************************************************************
 * Open nav, mobile */
nav:not(:target) {
  display: none;
}

@media (min-width: 768px) {

  /*****************************************************************************
   * Desktop nav */
  nav#nav {
    display: block;
  }

  nav#nav ul {
    position: relative;
    width: auto;
    padding-left: 24px;
    margin-top: 6px;
    float: right;
    background: inherit;
  }

  nav#nav a {
    border-bottom: none;
    color: #222222;
    display: inline;
    font-size: 16px;
    padding-right: 3px; padding-left: 3px;
    text-decoration: none;
  }

  /* Hide hamburger, X and shadow */
  header a.toggle-nav, header nav#nav a.x, header nav#nav a.shadow {
    display: none;
  }
}

/*******************************************************************************
 * Main container */

main {
  margin: 50px auto 0px auto;
}

section {
  max-width: 768px;
  text-align: left;
  margin: 0px auto 30px auto;
  padding: 0px 8px 0px 8px;
}

div.wide {
  border-top: 2px solid #258bcd;
  border-bottom: 2px solid #258bcd;
  padding: 24px 6px 24px 6px;
}

div.darker {
  background-color: #eeeeee;
}

/* Anchor links are placed above their targets. */
div.anchor {
  position: relative;
  top: -60px;
}

h1, h2, h3 {
  color: #258bcd;
  font-weight: bold;
}

h1 {
  font-size: 36px;
  font-variant: small-caps;
}

h2 {
  font-size: 24px;
}

strong {
  color: #258bcd;
  font-weight: bold;
}

a {
  /* Similar to the main colour used, #258bcd, but a bit darker to have more
   * contrast. */
  color: #16557f;
}

.action {
  text-align: center;
  background-color: #489C85;
  border: 6px solid #489C85;
  border-radius: 6px;
  margin: 24px 0px 24px 0px;
  font-weight: bold;
  color: #ffffff;
}

.action a {
  color: #ffffff;
}

/*******************************************************************************
 * Sponsors */

.s43 {
  margin: 60px auto 60px auto;
}

.s43 a {
  text-decoration: none;
}

.s43 img {
  height: 60px;
  margin: 18px;
}

.s43 p {
  margin: 30px auto 30px auto;
}


/*******************************************************************************
 * Schedule */

.schedule {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
}

.schedule td, th {
  width: 30%;
  padding: 6px 6px 24px 6px;
}

.schedule th .day {
  font-size: 16px;
  display: block;
}

/* Color scheme-ish for schedule */
.schedule .food    {background-color: #489C85;}
.schedule .keynote {background-color: #2E3F4F;}
.schedule .admin   {background-color: #B2A54B;}
.schedule th       {background-color: #E99E32;}
.schedule .x       {background-color: #B54A37;}

/*******************************************************************************
 * Speakers */

.speakers {
  display: flex;
}

.speaker .details {
  display: flex;
  flex-direction: row;
}

.speaker .avatar {
  border: 2px solid #258bcd;
  height: 60px;
  margin-right: 24px;
}

.speaker .name {
  font-size: 24px;
  display: block;
  margin-bottom: 6px;
}

.speaker .links {
  display: flex;
  flex-direction: row;
}

.speaker .links a {
  background-size: contain;
  height: 24px;
  margin-right: 6px;
  width: 24px;
  opacity: 0.5;
}

.speaker .links .web {
  background: url("/images/icons/globe.png"); background-size: 24px 24px;
}

footer {
  font-size: 12px;
  margin: 60px 6px 30px 6px;
}
