:root {
    --page-width: 800px;

    --highlights0: #e9d086;
    --highlights1: #9fcbf2;

    --retro0: rgba(102,102,0, 0.5);
}

html {
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.7;

    /* These should really be set on body instead to avoid repetition. */
    height: 100%;
    background-attachment: fixed;
    background-image:
        linear-gradient(90deg, rgba(213,57,227,0.1) 0%,rgba(222,192,73,0.1) 40%),
        repeating-linear-gradient(0deg, rgba(255, 255, 255, 0) 0px, rgba(255, 102,   0, 0.05)  3px,  rgba(255, 255, 255, 0)   6px),
        repeating-linear-gradient(0deg, rgba(255, 255, 255, 0) 0px, rgba( 51,  51, 204, 0.1)  79px,  rgba(255, 255, 255, 0) 158px),
        repeating-linear-gradient(0deg, rgba(255, 255, 255, 0) 0px, rgba(255,  51, 153, 0.1)  199px, rgba(255, 255, 255, 0) 398px);
}

body {
    margin: 0px;
}

header {
    max-width: var(--page-width);
    margin: 30px auto 30px auto;
}

header img {
    max-width: 100%;
}

h1 {
    border-bottom: 1px solid white;
    font-style: italic;
    font-size: 30px;
    display: inline-block;  /* Don't make border span whole page. */
    line-height: 100%;  /* Put border close to text. */
    font-weight: normal;
    margin: 30px 0px 6px 0px;
}

h2 {
    display: inline-block;
    transform: rotate(90deg) translate(0, -70%) scaleX(130%);
    transform-origin: top left;
    margin: 6px 6px 0px 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #a971a8;
    opacity: 70%;
    z-index: 9;
}

h3 {
    text-align: left;
    font-size: 20px;
    padding-left: 12px;
    margin-left: 12px;
    border-left: solid 18px white;
}

section {
    max-width: var(--page-width);
    margin: 0px auto 0px auto;
    position: relative;
}

p {
    position: relative;
    text-align: left;
    z-index: 10;
    margin: 12px 12px;
}

a {
    color: var(--highlights1);
    font-weight: bold;
}

footer {
    margin: 30px auto 30px auto;
    font-size: 12px;
}

.registration {
    font-size: 24px;
    font-variant: small-caps;
    padding: 12px 0px;
}

.retro {
    background-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, var(--retro0) 3px, rgba(0, 0, 0, 0) 6px);
    animation: retrogradient 1s linear infinite;
}

summary {
    color: var(--highlights0);
    font-weight: bold;
    padding-left: 2em;
    text-align: left;
    text-decoration: underline;
}

@keyframes retrogradient {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 6px 0px;
    }
}

/*******************************************************************************
 * Speakers */

.speakers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.speaker {
  margin: 4px;
  padding: 8px;
  width: calc(100% - 24px);
  position: relative;
}

@media (min-width: 800px) {
  .speakers {
    flex-direction: row;
  }
  .speaker {
    width: 450px;
  }
}

.speaker .details {
  display: flex;
  flex-direction: row;
  margin: 6px 0px 12px 0px;
}

.speaker .avatar {
  border: 3px solid var(--retro0);
  height: 60px;
  margin-right: 24px;
}

.speaker .name {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: bold;
}

.speaker .links {
  filter: invert(100%);
  display: flex;
  flex-direction: row;
}

.speaker .links a {
  background-size: contain;
  height: 24px;
  margin-right: 6px;
  width: 24px;
  opacity: 0.7;
}

.speaker p {
  margin-top: 12px;
  margin-bottom: 12px;
}

.speaker .links .github {
  background: url("/images/icons/github.svg");
  background-size: 24px 24px;
}

.speaker .links .twitter {
  background: url("/images/icons/twitter.svg");
  background-size: 24px 24px;
}

.speaker .links .web {
  background: url("/images/icons/globe.svg");
  background-size: 24px 24px;
}

.campus {
  padding: 24px 0px 24px 0px;
  margin: 12px 0px 12px 0px;
  background-image:
    linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url("/images/zurihac2022/campus-rapperswil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.partners {
  /* The negative margin here allows us to slightly overlap the gradient with
   * the header. */
  margin: -30px auto 30px auto;
  padding: 30px 0 42px 0;
  background-image: linear-gradient(#fff0 0%, #fff9 30%, #fff9 70%, #fff0 100%);
  color: black;
}

.partners img {
  margin: 18px;
  max-height: 72px;
  max-width: 240px;
  vertical-align: middle;
}
