:root {
    --cutout: 0.6em;
}

html {
    text-align: center;

    font-family: sans-serif;
    color: black;
    line-height: 1.5;

    background:
        url("/images/zurihac2024/noise.svg"),
        url("/images/zurihac2024/hex.svg"),
        #e8ecf0;
    height: 100vh;
}

a {
    color: black;
}

body {
    margin: 0px;
}

header {
    text-transform: uppercase;
    font-weight: 900;
    color: #182e4f;
    letter-spacing: -2px;
    line-height: 1;
    margin: 2em 0em 3em 0em;
}

section {
    max-width: calc(800px - 2 * 1em);
    margin: 0em auto 1em auto;
    background: #ffffff80;
    padding: 1em;
}

h1 {
    max-width: 800px;
    margin: 1em auto 0em auto;
    padding: 0.4em 0em;
    background:
        url("/images/zurihac2024/noise.svg"),
        #414963bb;
    position: relative;
    clip-path: polygon(var(--cutout) 0, 0 var(--cutout), 0 100%, 100% 100%, 100% var(--cutout), calc(100% - var(--cutout)) 0);
    color: #fefefe;

    font-weight: 900;
    letter-spacing: -px;
    text-transform: uppercase;
    font-size: 24px;
}

p {
    text-align: left;
}

footer {
    margin-top: 4em;
    padding-bottom: 2em;
}
