<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Zürich Friends of Haskell</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/zfoh.css">
  </head>
  <body>
    <header>
      <img class="header-logo" src="/images/zfoh.png">
      <h1>Zürich Friends of Haskell</h1>
      <p>
        The Zürich Friends of Haskell is a club founded to foster the
        worldwide knowledge of functional programming, and Haskell in
        particular.  We organise
        <a href="https://www.meetup.com/HaskellerZ/" target="_blank">meetups</a>
        and
        <a href="http://zurihac.info/" target="_blank">events</a>
        in the Zürich area.
      <p>
    </header>
    <hr>
    $body$
    <hr>
    <footer>
      Copyright © $copyrightYears$ Zürich Friends of Haskell.
      <a href="https://github.com/zfoh/zfoh.ch">Source code available</a>
      ·
      <a href="/terms-and-conditions.html">Terms and Conditions</a>
      ·
      <a href="/privacy-policy.html">Privacy Policy</a>
    </footer>
  </body>
</html>
