<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="ZuriHac 2024" />
    <meta property="og:description"
        content="ZuriHac is a free annual haskell event brought to you by «Zürich Friends of Haskell»" />
    <meta property="og:image" content="https://zfoh.ch/images/zurihac2024/preview.jpg" />

    <title>ZuriHac 2024</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/zurihac2024.css?v=5" />

    <script type="text/JavaScript" src="/zurihac2024/logo/gl-matrix-min.js"></script>
    <script type="text/JavaScript" src="/zurihac2024/logo/render2024logo.js"></script>
    <script type="text/JavaScript" src="/zurihac2024/logo/zurihac2024logo.js"></script>
  </head>
  <body>
    <div id="noise"></div>
    <div id="logowrapper">
      <canvas id="logocanvas" width="640" height="640"></canvas>
    </div>
    <main>
      $body$
    </main>
    <footer>
      Copyright © $copyrightYears$ Zürich Friends of Haskell ·
      <a href="https://github.com/zfoh/zfoh.ch">Source code available</a>
      ·
      <a href="/terms-and-conditions.html">Terms and Conditions</a>
      ·
      <a href="/privacy-policy.html">Privacy Policy</a>
    </footer>
    <script type="text/JavaScript">render2024logo("logocanvas", zurihac2024logo())</script>
  </body>
</html>
