<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZuriHac 2019</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/zurihac2019.css">
  </head>
  <body>
    <!-- Main menu things -->
    <div class="header-wide">
      <header>
        <a href="/zurihac2019/" class="logo"><img src="/images/zurihac2019/header-logo.svg"></a>
        <nav id="nav">
          <ul>
            <li><a href="/zurihac2019/#toggle-nav" class="x">X</a></li>
            <li><a href="/zurihac2019/#program">Program</a></li>
            <li><a href="/zurihac2019/#venue">Venue</a></li>
            <li><a href="/zurihac2019/#food">Food</a></li>
            <li><a href="/zurihac2019/#registration">Registration</a></li>
            <li><a href="/zurihac2019/projects.html">Projects</a></li>
            <li><a href="/zurihac2019/#contact">Contact</a></li>
          </ul>
          <a href="#toggle-nav" class="shadow"></a>
        </nav>
        <a href="#nav" id="#toggle-nav" class="toggle-nav">
          <div></div><div></div><div></div>
        </a>
      </header>
    </div>

    <main>
      $body$
    </main>

    <footer>
      Copyright © $copyrightYears$ Zürich Friends of Haskell.
      <a href="https://github.com/zfoh/zfoh.ch">Source code available</a>
      ·
      <a href="/terms-and-conditions.html">Terms and Conditions</a>
      ·
      <a href="/privacy-policy.html">Privacy Policy</a>
    </footer>
  </body>
</html>
