<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ZuriHac 2022</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/zurihac2022.css?v=2" />
    <style>
    </style>
  </head>
  <body>
    <header>
      <img src="/images/zurihac2022/logo.svg" alt="ZuriHac 2022">
    </header>
    $body$
    <footer>
      Copyright © $copyrightYears$ Zürich Friends of Haskell ·
      <a href="https://github.com/zfoh/zfoh.ch">Source code available</a>
      ·
      <a href="/terms-and-conditions.html">Terms and Conditions</a>
      ·
      <a href="/privacy-policy.html">Privacy Policy</a>
    </footer>
  </body>
</html>
