<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ZuriHac 2021</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/zurihac2021.css?v=3" />

    <meta property="og:title" content="ZuriHac 2021" />
    <meta
      property="og:description"
      content="ZuriHac is a free annual haskell event brought to you by «Zürich Friends of Haskell»"
    />
    <meta
      property="og:image"
      content="https://zfoh.ch/images/zurihac2021/header.png"
    />

    <meta name="twitter:title" content="ZuriHac 2021" />
    <meta
      name="twitter:description"
      content="ZuriHac is a free annual haskell event brought to you by «Zürich Friends of Haskell»"
    />
    <meta
      name="twitter:image"
      content="https://zfoh.ch/images/zurihac2021/header.png"
    />

    <meta name="twitter:card" content="summary" />
  </head>
  <body>
    <header>
      <a class="logo">ZURIHAC_2021</a>
    </header>

    <main>
      $body$
    </main>

    <footer>
      Copyright © $copyrightYears$ Zürich Friends of Haskell ·
      <a href="https://github.com/zfoh/zfoh.ch">Source code available</a>
      ·
      <a href="/terms-and-conditions.html">Terms and Conditions</a>
      ·
      <a href="/privacy-policy.html">Privacy Policy</a>
      <br>
      Header image modified from <a href="https://openclipart.org/favs/306465/simple-nature-banner">artwork by j4p4n on openclipart</a>.
    </footer>
  </body>
</html>
