<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="ZuriHac 2025" />
    <meta property="og:description"
        content="ZuriHac is a free annual Haskell event brought to you by «Zürich Friends of Haskell»" />
    <meta property="og:image" content="https://zfoh.ch/images/zurihac2024/preview.jpg" />

    <title>ZuriHac 2025</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/zurihac2025.css?v=0" />
  </head>
  <body>
    $body$
  </body>
</html>
