<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="ZuriHac 2024" />
    <meta property="og:description"
        content="ZuriHac is a free annual haskell event brought to you by «Zürich Friends of Haskell»" />
    <meta property="og:image" content="https://zfoh.ch/images/zurihac2023/preview.png" />


    <title>ZuriHac 2024</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/zurihac2024.css?v=0" />
  </head>
  <body>
    $body$
    <footer>
      Copyright © $copyrightYears$ Zürich Friends of Haskell ·
      <a href="https://github.com/zfoh/zfoh.ch">Source code available</a>
      ·
      <a href="/terms-and-conditions.html">Terms and Conditions</a>
      ·
      <a href="/privacy-policy.html">Privacy Policy</a>
    </footer>
  </body>
</html>
