<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZuriHac 2020</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/zurihac2020.css">
  </head>
  <body>
    <header>
      <a class="logo" href="/zurihac2020">Home</a>
      <nav id="nav">
        <ul>
          <li><a href="/zurihac2020/#toggle-nav" class="x">X</a></li>
          <li><a href="/zurihac2020/#speakers">Speakers</a></li>
          <li><a href="/zurihac2020/#registration">Registration</a></li>
          <li><a href="/zurihac2020/#venue">Venue</a></li>
          <li><a href="/zurihac2020/#contact">Contact</a></li>
        </ul>
        <a href="#toggle-nav" class="shadow"></a>
      </nav>
      <a href="#nav" id="#toggle-nav" class="toggle-nav">
        <div></div><div></div><div></div>
      </a>
    </header>

    <div>
    </div>

    <main>
      $body$
    </main>

    <footer>
      Copyright © $copyrightYears$ Zürich Friends of Haskell
      ·
      <a href="https://github.com/zfoh/zfoh.ch">Source code available</a>
      ·
      <a href="/terms-and-conditions.html">Terms and Conditions</a>
      ·
      <a href="/privacy-policy.html">Privacy Policy</a>
    </footer>
  </body>
</html>
